################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Itau.DirectoryDiff/.vs/Itau.DirectoryDiff/v15/Server/sqlite3/db.lock
/Itau.DirectoryDiff/.vs/Itau.DirectoryDiff/v15/Server/sqlite3
